<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/IdeaProjects/Supplier-Insights/src/test/java/com.SI.Supplier_Insights">
        <classes>
            <class name="com.SI.Supplier_Insights.A_Upload_Suppliers_List">
                <methods>
                    <include name="Upload_Suppliers_List"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.B_My_Supplier">
                <methods>
                    <include name="Z2D_SupplierList"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.C_Check_Alert_with_Single_Filter">
                <methods>
                    <include name="Z2D_Single_Filter"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.D_Check_Alert_with_single_filter_intel">
                <methods>
                    <include name="Z2D_Single_Filter"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.E_Check_Customer_able_Add_Edit">
                <methods>
                    <include name="Z2D_Customer_authorization"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.F_Create_Report">
                <methods>
                    <include name="Z2D_CreateReport"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.G_Browse_Suppliers_By_Name">
                <methods>
                    <include name="Search"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.H_Browse_By_Product_Page">
                <methods>
                    <include name="Search_By_Product"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.I_Browse_By_Industry_Page">
                <methods>
                    <include name="Browse_By_Industry"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.J_Compare_Advanced_Search_Page">
                <methods>
                    <include name="Z2D_Compare"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.K_Compare_Company">
                <methods>
                    <include name="CompareBetweenCompanies"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.L_Export_Supplier_List">
                <methods>
                    <include name="Export_List"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.M_Export_Single_Filter">
                <methods>
                    <include name="Export_Single_Filter"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.N_Export_Multi_Filter">
                <methods>
                    <include name="ExportMultiFilter"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.O_Manage_Column">
                <methods>
                    <include name="ExportWith_ManageColumn"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.P_Save_Supplier_Profile">
                <methods>
                    <include name="SaveProfile"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.Q_Submit_Ticket">
                <methods>
                    <include name="SubmitTicket"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.R_Save_Supplier_AdvSearch">
                <methods>
                    <include name="SaveProfile_AdvancedSearch"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.S_Search_For_Supplier">
                <methods>
                    <include name="SupplierSearch"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.T_Supplier_Search_Multi_Filter">
                <methods>
                    <include name="SupplierSearchMultiFilter"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.U_Suppliers_Details">
                <methods>
                    <include name="Validate_SupplierDetails"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.V_Customer_Manage_Column">
                <methods>
                    <include name="ManageColumn"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.W_Supplier_Search_Landing">
                <methods>
                    <include name="SupplierSearch"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>