<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/Supplier-Insights/src/test/java/com/SI/Supplier_Insights">
        <classes>
            <class name="com.SI.Supplier_Insights.A_Upload_Suppliers_List">
                <methods>
                    <include name="Upload_Suppliers_List"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.B_My_Supplier">
                <methods>
                    <include name="Z2D_SupplierList"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.C_Check_Alert_with_Single_Filter">
                <methods>
                    <include name="Z2D_SingleFilter"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.D_Check_Alert_with_single_filter_intel">
                <methods>
                    <include name="Z2D_SingleFilter"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.E_Check_Customer_able_Add_Edit">
                <methods>
                    <include name="Z2D_Customer_authorization"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.F_CreateReport">
                <methods>
                    <include name="Z2D_CreateReport"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.G_BrowseSuppliersByName">
                <methods>
                    <include name="Search"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.H_BrowseByProduct">
                <methods>
                    <include name="SearchByProduct"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.I_BrowseByIndustry">
                <methods>
                    <include name="BrowseByIndustry"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.J_Compare_AdvancedSearch">
                <methods>
                    <include name="Z2D_Compare"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.K_Compare_Company">
                <methods>
                    <include name="CompareBetweenCompanies"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.L_Export_SupplierList">
                <methods>
                    <include name="ExportList"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.M_Export_SingleFilter">
                <methods>
                    <include name="ExportSingleFilter"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.N_Export_MultiFilter">
                <methods>
                    <include name="ExportMultiFilter"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.O_ManageColumn">
                <methods>
                    <include name="ExportWith_ManageColumn"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.P_SaveSupplierProfile">
                <methods>
                    <include name="SaveProfile"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.Q_SubmitTicket">
                <methods>
                    <include name="SubmitTicket"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.R_SaveSupp_AdvSearch">
                <methods>
                    <include name="SaveProfile_AdvancedSearch"/>
                </methods>
            </class>
            <class name="com.SI.Supplier_Insights.S_SearchForSupplier">
                <methods>
                    <include name="SupplierSearch"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>